@charset "UTF-8";
/* CSS Document */
@media all {}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, b, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: normal;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fundo {
  height: auto;
  background-color: yellow;
  animation-name: fundo;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes fundo {
  0% {
    background-color: #FF009F
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: #00FF0E;
  }
  75% {
    background-color: #00F0FF;
  }
  100% {
    background-color: #FF009F;
  }
}

/*//////////////////////////////////////////////////// */

html {
  width: 100%;
  height: 100%;
  background-color: #E2E0E0;
  font-family: 'Space Grotesk', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*//////////////////////////////////////////////////// */

/*WELCOME*/

button {
  background: none;
  border: solid white 3px;
  border-radius: 50px;
}
button:hover {
  background: #D7D7D7;
  border: none;
}
h1 {
  font-size: 80pt;
  text-decoration: underline;
  line-height: 95pt;
  color: white;
  text-align: center;
  margin-top: 30px;
}
#btns {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}
#start {
  margin-bottom: 15%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
  height: 80px;
}
#register {
  border-radius: 50px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
  height: 80px;
}

/*//////////////////////////////////////////////////// */

/*LOG IN*/

.log_box{

  margin-bottom: 15%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
  height: 80px;
    }

/*//////////////////////////////////////////////////// */

/*PAG. INICIAL*/

/*MENU*/

#cabecalho {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
nav {
  display: grid;
  padding-top: 10px;
}
#nome {
  display: grid;
  text-align: center;
}
h2 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 600px;
}
#menuToggle {
  display: block;
  position: sticky;
  top: 50px;
  left: 50px;
  z-index: 1;
}
#menuToggle a {
  text-decoration: none;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30pt;
}
#menuToggle a:hover {
  text-decoration: underline 3px;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

/*HAMBURGUER*/

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  z-index: 1;
  transform-origin: 4px 0px;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menu {
  position: absolute;
  width: 1440px;
  height: 676px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #E2E0E0;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* fazer slide */

#menuToggle input:checked ~ ul {
  transform: none;
}
#records {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 610px;
  height: 80px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20pt;
  color: white;
}

/*//////////////////////////////////////////////////// */

/*ABOUT*/

.cabecas {
  display: grid;
  text-align: center;
}
h3 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 600px;
}
.text {
  font-size: 16pt;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 50px;
  margin-right: 40px;
}

/*//////////////////////////////////////////////////// */

/*RECORDS*/

#records_day {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 7%;
  width: auto;
  font-family: 'Inter', sans-serif;
  color: white;
}
.data {
  font-size: 13pt;
  color: white;
  text-align: left;
  padding-bottom: 1.5%;
  margin-left: 18px;
}
.box {
  background: #D7D7D7;
  border: none;
  border-radius: 20px;
  height: 120px;
}
.resultados {
  font-size: 15pt;
  color: white;
  text-align: left;
  margin-left: 18px;
  margin-top: 18px;
}
.espaco {
  margin-top: 45px;
}

/*//////////////////////////////////////////////////// */

/*PERSONAL DAY*/

h4 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 550px;
}
#personal {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 4%;
  width: auto;
  font-family: 'Inter', sans-serif;
  color: white;
}
#personal_box {
  background: #D7D7D7;
  border: none;
  border-radius: 20px;
  height: 600px;
}
.resultados {
  font-size: 15pt;
  color: white;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

/*//////////////////////////////////////////////////// */

/*QUIZ*/
h5 {
  font-size: 25pt;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 615px;
}

#quiz {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  margin-top: 5%;
  width: auto;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
}

.pergunta{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14pt;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 5%;
}




/*//////////////////////////////////////////////////// */

/*RESPONSIVE*/

@media only screen and (max-width:480px) {
  h1 {
    font-size: 35pt;
    margin-top: 5%;
    line-height: 50pt;
  }
  #btns {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
  }
  #start {
    margin-bottom: 13%;
    font-size: 20pt;
    height: 70px;
  }
  #register {
    font-size: 20pt;
    height: 70px;
  }
    
  /*PAG. INICIAL*/
    
  #records {
    margin-top: 520px;
    height: 75px;
    width: 75%;
  }
  #cabecalho {
    margin-top: 15px;
  }
  #nome {
    width: 0;
  }
  h2 {
    font-size: 20pt;
    margin-left: 135px;
    padding-top: 8px;
  }
    
  /*ABOUT*/
    
  h3 {
    font-size: 20pt;
    margin-left: 120px;
    padding-top: 8px;
  }
    
  /*RECORDS*/
    
  #records_day {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 12%;
    width: auto;
  }
  .data {
    padding-bottom: 3%;
  }
  .espaco {
    margin-top: 25px;
  }
    
  /*PERSONAL SPACE*/
    
  h4 {
    font-size: 20pt;
    margin-left: 70px;
    padding-top: 8px;
  }
  #personal {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 12%;
    width: auto;
  }
  #personal_box {
    border-radius: 20px;
    height: 500px;
  }
    
    /*QUIZ*/
    
    h5 {
 margin-left:130px;
}

.quiz {
    margin-left: 15%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 12%;
    width: auto;
}

.pergunta{
  position: fixed;
  padding-bottom: 25%;
  
}

#pergunta1 {
  margin-top: 15%;
}
  
#pergunta2 {
  margin-top: 55%;
}
  
#pergunta3 {
  margin-top: 95%;
}

#mouseCircle, #mouseCircle1, #mouseCircle2 {
  z-index: -1;
}

optgroup {
  font-family: 'Space Grotesk', sans-serif;;
}

#section0 {
  z-index: 999;

}
}


.div, .div1, .div2{
  position: fixed;
  width: 50em; /* Diâmetro do círculo */
  height: 50em; /* Diâmetro do círculo */
  margin: -60px -100px 0px -75px;
  border-radius: 70%;
  filter: blur(3rem); /* Efeito de cor difusa */
  opacity: 0.8;
}

#section0 {
  position: fixed;
  margin-top: 30vw;
  margin-left: 3em;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 50%;
  height: 80px;
}

#section1 {
  position: fixed;
  margin-top: 70vw;
  margin-left: 3em;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 50%;
  height: 80px;
}

#section2 {
  position: fixed;
  margin-top: 110vw;
  margin-left: 3em;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  width: 50%;
  height: 80px;
}

.selectColor,  .selectColor1, .selectColor2 {
  position: relative;
  outline: none;
  background-color: #D7D7D7;
  border: none;
  border-radius: 50px;
  height: 70%;
  width: 140%;
  /*margin-left: auto;
  margin-right: auto;*/
  font-size: 14pt;
  color: white;
  text-align: center;
}

